# Site settings
title: Andrew Lim
description: 'Data Scientist'
url: 'https://github.com/AndrewLim1990/AndrewLim1990.github.io'
baseurl: '/'
# google_analytics: 'UA-XXXXXX-X'
# disqus_shortname: 'your-disqus-name'

avatar: https://avatars.github.ubc.ca/u/35?u=cd2d15936d12927064a78250659b63b8fc38f96c&s=140

author:
  name: 'Andrew Lim'
  email: andrewlim90@gmail.com
  twitter_username: noLIMbs1990
  github_username:  andrewlim1990
  linkedin_username:  andrewlim1990

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

gems: ['jekyll-paginate']
exclude: ['README.md', 'Gemfile', 'Gemfile.lock', 'screenshot.png']
